<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WatchResearch{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Люди</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('user_profile', username=session['username']) }}">Мой профиль</a>
                <a href="{{ url_for('reading_links', username=session['username']) }}">Читаю</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% else %}
                <a href="{{ url_for('login') }}">                                                                                                   Войти</a>
                <a href="{{ url_for('register') }}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Узнайте, что читают ваши друзья и коллеги. </p>
    </footer>
</body>
</html>